#nav1{
	background-color: #343a40;
	color: white;
	font-weight: 500;
	
}
h1{
	text-align: center;
}
#banner{
	background-color: black;
	color: white;
}


#benefit{
	text-align: center;
	color: #8E44AD ;
	padding-top: 15px;
	color:transparent;
	-webkit-text-stroke:1px #a6c;
	background:url(./images/back.png);
    -webkit-background-clip: text; 
	background-position: 0 0;
	animation: back 20s linear infinite;
	
}
@keyframes back{
	100%{
		background-position: 2000px 0;
	}
}


#brand_image{
	height: 40px;
}

#brand_name,h3{
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}

#bname{
	font-family: 'Roboto', sans-serif;
	padding-left: 20px;
	font-size: 1.2rem;
}
#phnum,#ad{
	width: 50%;
}
#icon_banner{
background-color:#F0DCFF  ;
}

#login,#button{
	background-color: #a6c  ;
	color: white;
}
#ca{
	width: 100%;
	height:400px;

}

#sns{
	
	 font-size: 1.5rem;
	padding-right: 20px;
}

#slide{
	color: yellow  ;
	font-size: 1.5rem;
	font-weight: 700;
}
#slide1{
	color: white ;
	font-size: 2rem;
	font-weight: 700;
}

#examCorner{
	background-color:#F0DCFF;
	color: #8E44AD ;
	padding-top: 15px;
}

#leaderTalk{
	/*background-color:#F5EEF8;*/
	color: #8E44AD ;
	padding-top: 15px;
	height: 600px;
}

#review{
	background-color:#F0DCFF;
	color: #8E44AD ;
	padding-top: 15px;
	height: 600px;
}

.nav-pills .nav-link.active {
    background-color: #B069B8!important;
}
ul.nav li.nav-item a{
	color:black;
	font-weight: 500;
}
ul.nav li.nav-item a:hover{
	color: #A419DC;
}

body{
	background-image: linear-gradient(to right, #E3B4FF , #C1BFFF );
}

#quickGuide{
	color: #8E44AD ;
}
#video {
  width: 100%;
  height: 70%;
}
#points{
	color: black;
}
#card{
	background-color: #F7D1FF ;
	margin-bottom: 10px;
}
.to-top{
	position: absolute;
	bottom: -35%;
	right: 60px;
	background:  #a6c ;
	color: #fff;
	padding: 12px 12px;
	border-radius: 50%;
  }
  .to-top:hover{
	background: #d7d7d7;
	color: #000;
  }